.about-container {
  grid-column: span 2;
  color: #f1f3c1;
  background-color: rgba(0,0,0, 0.3);
  margin: 50px;
  padding: 30px;
  display: flex;
  direction: rtl;
}

.about {
  border-left: 1px solid rgba(255,255,255, 0.4);
  margin-left: 10px;
  padding: 30px;
}

.about > img {
  width: 40vh;
  height: 40vh;
  float: right;
  margin-left: 20px;
}

.about > p {

}
